body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font: 1.5rem 'Nunito', sans-serif;
  min-height: 100%;
  background-image: linear-gradient(to right, rgba(241, 241, 241, 0.85), rgba(243, 215, 117, 0.85)),url('b2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  backdrop-filter: brightness(80%);
}

.box1 {

  background-color: #e5d2b4 ;
  color: #061950;
  width: fit-content;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 50px;
  margin-top: 50px;
  margin-left: 1px;
  opacity: 50%;
}

p.italic {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}
.image-header {
  max-width: 100%;
  height: auto;
  background-color: black;
}
.egypt-image {
  width: 100%;
}
.egypt{
  width: 100%;
}
.monuments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px #bca741 solid;
  margin: 1rem;
}
.monuments img {
  width: 100%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.monuments-info {
  padding: 1rem;
}
.image-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
}

.image-header:hover {
  transform: scaleX(-1);
}
.images {
  padding: 5rem 2rem;
  background-color: var(--light-primary-color);
  text-align: center;
}
.image {
  width: 15vw;
  background-color: lightslategray;
  margin: 1rem 0.5rem;
  display: inline-block;
  transition: 0.2s;
  border-radius: 0.3rem;
}
.egypt-image {
  width: 100%;
  border-radius: 0.3rem;
}
.image-text {
  padding: 2rem;
}
.img-large {
  max-width: 100%;
}
/*original*/
header,
footer,
main,
nav {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}
header,
footer {
  
  position: sticky;

  background-color: #be9d44a6;
  color: rgb(255, 251, 251);
}
header {
  top: 0;
}
nav {
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
  top: 0;
}
main {
  flex-wrap: 1;
}
footer {
  bottom: 0;
  width: 100%;
}
.col-lg-7 {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  margin: auto;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: floralwhite;
}
.text {
  margin: auto;
  color: #000;
  border: 3px solid 3A547B;
  padding: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  border-radius: 10px;
}
.choose {
  margin: auto;
  text-align: center;
  width: 60%;
  color: #d5dadd;
}

h2 {
  background-color:transparent;
  color: #061950;
  width: fit-content;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 50px;
  margin-top: 50px;
  margin-left: 0px;
  opacity: 50%;

} 
h3{
  color: #fff;
  width: fit-content;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 50px;
  margin-top: 50px;
  margin-left: 1px;
}



.slide-images {
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  animation-name: slide_animation;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.img-container {
  height: 800px;
  width: 1200px;
  position: relative;
  float: left;
}
body {
  padding: 0;
  margin: 0;
  background-color: floralwhite;
}

h1 {
  margin-top: 50px;
  margin-left: 300px;
  background: fixed;
  background-color: #ddd;
  font-size: 60px;
  font-family: 'Karla', sans-serif;
  font-weight: lighter;
}

.slider-frame {
  overflow: hidden;
  height: 300px;
  width: 1200px;
  margin-left: 10px;
  margin-top: 20px;
}

/*---------- SLIDE ANIMATION --------------*/

@keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}
@-webkit-keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}



.textOverImage {
  width: 60%;
  height: 60%;
  display: inline-block;
  background-size: cover;
  border-radius: 4px;
  margin: 4px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  align-items: center;
}

.textOverImage > input {
  display: none;
}

.textOverImage > div,
.textOverImage > h3 {
  position: absolute;
  background-color: rgba(85, 75, 75, 0.8);
  bottom: 20px;
  left: 4px;
  right: 4px;
  border-radius: 4px;
  padding: 8px;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s;
}

.textOverImage:hover > h3,
.textOverImage > input:checked + h3 + div {
  bottom: 4px;
  opacity: 1;
}

.textOverImage > input:checked + h3 {
  bottom: -20px;
  opacity: 0;
}

.textOverImage > h3 {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 100%;
  height: 100%;
}

/* Clearfix (clear floats) */
.row::after {
  width: fit-content;
  content: '';
  clear: both;
  display: table;
}
.uiunit_none {
  display: none;
}
.languageMenu {
  display: none;
}
/* speaker button*/
.button {
  display: inline-flex;
  height: 40px;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  cursor: pointer;
  margin: 10px 20px 10px 20px;
  background: #5d7a94;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.button:hover {
  background: #89c2d8;
}
.button:active {
  background: #7db3cf;
}
.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}
.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}
/* images buttom the .monuments pages */
.A1 {
  width: 200px;
  height: 300px;
}
.more {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  flex-wrap: wrap;
  z-index: 1;
}
.more .cards {
  position: relative;
  width: 250px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(63, 26, 26, 0.5);
  border-radius: 15px;
  background: rgba(196, 12, 12, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.more .cards .content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  transform-origin: center;
  transform: perspective(800px) rotateY(-15deg);
  transition: 0.5s;
  -webkit-box-reflect: below 0.01px
    linear-gradient(transparent, transparent, #000f00);
}

/*language*/
.iframe {
  display: none;
}
.a.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}
div.skiptranslate.goog-te-gadget {
  position: absolute;
  top: 120px;
  right: 60px;
}
.goog-te-combo {
  height: 21px;
  position: relative;
    top: -64px;
    left: 113px;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}
iframe {
  display: none;
}
#languageMenu {
  display: none;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  div.image{
    width: 80%;
  }
  #txtFld{
    width: 90%;
  }
  #speakerMenu{
    width: 295px;
  }
}



@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .image{
    width: 23vw;
  }
  #txtFld{
    width: 90%;
  }
  
}
/*events*/
.events {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.event-background{
  width: 95%;
 height: auto;
  position: relative;
  z-index: -1;
  top: 20px;
 
}

.l-grid{
  display:flex;
  flex-flow: row wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
  
}

.item-container
 {
  position: relative;
  margin: 44px;
  width: 311px;
  height: 480px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  top: -18px;
}
.img-container2,
.body-container2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img-container2 img {
  width: 100%;
  height: 62% 
}
.body-container2 {
  position: relative;
}
.overlay {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(24, 83, 122, 0.6);
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
  opacity: 1;
  height: 150px;
}
.event-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.title,
.price {
  color: #18537a;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 12px;
}
.info {
  letter-spacing: 0.5px;
  margin-bottom: 31px;
}

.separator {
  width: 20%;
  height: 6px;
  background-color: #17537a;
  margin-bottom: 16px;
}

.additional-info {
  border-top: 1px solid #bbb;
  margin-top: 12px;
  padding: 28px;
  padding-bottom: 0;
}

.additional-info .info {
  font-size: 0.9em;
  margin-bottom: 20px;
  text-align: center;
}

.info i {
  color: #18537a;
  font-size: 1.1em;
  margin-right: 4px;
}

.info span {
  color: #18537a;
  font-weight: bolder;
}

.action {
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  outline: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.4s, top 0.4s;
 
}

.item-container:hover .action {
  top: 50px;
}

.action:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.Login{
  position:relative;
  flex-flow: row wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #bbb;
  top: 295px;
  left: -540px;
}
#display-img{
  width: 80%;
  height: 211px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}
.Book{
    font-size: .77778rem;
    font-weight: 500;
    width: 86px;
    height: 86px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    border: 1px solid #5c5c5c;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    text-align: center;
    transition: .3s cubic-bezier(0.55,.085,.68,.53);
}
.Book:hover{
  background-color: #e9cd78d8;
}
.Book-background{
  width: 87%;
  height: 91%;
  position: relative;
  z-index: -1;
 top: 20px;
}
.X {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: white;
  background-color: #080a0f;
  position: relative;
  top: -288px;
  font-size: 15px;
}
.background__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  left: 65px;
  padding: 0;
  position: absolute;
  right: 65px;
  top: 20%;
  color: white;
}

.Even{
  margin: auto;
  background-color:black;
  font-size: 30px;
  position: relative;
  left: -2px;
  top: -270px;
}
.Book-content{
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}
.Name-of-event {
  top: 26px;
  position: relative;
  color: #060735;
  background-color:transparent;
  height: 37%;
  border-radius: 50px;
}
.subtitle {
  position: relative;
 color: #060735;
  top: 5px;
  font-size: 30px;
}
.Describtion {
  font-size: 20px;
  color: black;
  position: relative;
  top: 20px;
  background-color: darkgray;
  width: 99%;
  height: 133px;
}
.Summary {
  font-size: 26px;
  color: beige;
  position: relative;
  top: 50px;
}
/*ticket button*/
.button1 {
  display: inline-flex;
  height: 40px;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  cursor: pointer;
  margin: 10px 20px 10px 20px;
  background: #eee6be;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.button1:hover {
  background-color: transparent;
}
.button1:active {
  background-color: transparent;
}
.button__text1,
.button__icon1 {
  display: inline-flex;
  align-items: center;
}
.button__icon1 {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}
.contact{
  font-size:20px;
  background-color: transparent;
  margin: auto;
  padding:0px;
  position: relative;
  top: -52px;
  width: 89%;
}
.Auth-wrapper{
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.Auth-inner{
  width: 250px;
  min-height: 95vh;
  display:absolute;
  flex-direction: column;
  padding:  15px 0 15px;
}
.form-control1, .form-control{
  height: 45px;
  width: 100%;
  border:solid;
  border-radius: 30px;
  color:rgb(44, 120, 182); 
  font-size: 15px;
  padding: 0 0 0 45px;
  background: rgba(255,255,255,0.1);
  outline: none;
}
.Submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}
.one{
  display: flex;
}
label a{
  text-decoration: none;
  color: #fff;
}
.form-input{
  color: rgb(0, 0, 0);
}
/*upload photo*/
.hero{
  width: 100%;
  height: 20vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
.cards{
  width: 330px;
  background:transparent;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color:#333;
}
.cards p{
  color:#024;
}
.cards img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}
.Tic{
  position:relative;
    top:40px;
}
.mb-4{
  margin-bottom: 2rem!important;
  margin-top: 2rem;
}

.cardnumber{
  font-size: 17px;
}
.eventimage{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  
}

.ticketimage{
  width: 250px;
  height: 200px;
  border-radius: 20%;
  margin: auto;
}
.card p {
  color:#024;
}
.card{
  width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color:#333;
}
.cart{
  width: 350px;
  height: 750px;
  padding-bottom: 15px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  color:#333;
  opacity: 70%;
}
.card3{
  width: 350px;
  height: 750px;
  padding-bottom: 15px;
  padding: 30px;
  background:transparent;
  border-radius: 15px;
  text-align: center;
  color:#333;
  opacity: 70%;
}
.card4{
  width: 350px;
  height: 850px;
  padding-bottom: 15px;
  padding: 30px;
  background:transparent;
  border-radius: 15px;
  text-align: center;
  color:#000000;
}

.card5{
  width: 450px;
  height: 350px;
  padding-bottom: 15px;
  background:transparent;
  border-radius: 15px;
  text-align: center;
  color:#000000;
}

.card3 p {
  color:#024;
}

.show {
  border:2px  black;
  background-color: transparent;
  color:rgb(6, 6, 109);
  font-weight: bold;
  margin-left: 352px;
  margin-top: 330px;
  padding: 5px;
  width: 5%;
  position: relative;
  top: -663px;
  right: 188px;

}
.show1
{
  border:2px  black;
  background-color: transparent;
  color:rgb(6, 6, 109);
  font-weight: bold;
  margin-left: 352px;
  margin-top: 330px;
  padding: 5px;
  width: 5%;
  position: relative;
  top: -941px;
  right: 128px;

}
.show2{
  border:2px  black;
  background-color: transparent;
  color:rgb(6, 6, 109);
  font-weight: bold;
  margin-left: 357px;
  margin-top: 335px;
  padding: 5px;
  width: 5%;
  position: relative;
  top: -1406px;
  right: 118px;
}
.show3{
  border:2px  black;
  background-color: transparent;
  color:rgb(6, 6, 109);
  font-weight: bold;
  margin-left: 357px;
  margin-top: 335px;
  padding: 5px;
  width: 5%;
  position: relative;
  top: -1871px;
  right: 143px;
}
.show4{
  border:2px  black;
  background-color: transparent;
  color:rgb(6, 6, 109);
  font-weight: bold;
  margin-left: 357px;
  margin-top: 335px;
  padding: 5px;
  width: 5%;
  position: relative;
  top: -2262px;
  right: 267px;
}
.show5{
  border:2px  black;
  background-color: transparent;
  color:rgb(6, 6, 109);
  font-weight: bold;
  margin-left: 357px;
  margin-top: 335px;
  padding: 5px;
  width: 5%;
  position: relative;
  top: -2587px;
  right: 294px;
}
.show6{
  border:2px  black;
  background-color: transparent;
  color:rgb(6, 6, 109);
  font-weight: bold;
  margin-left: 357px;
  margin-top: 335px;
  padding: 5px;
  width: 5%;
  position: relative;
  top: -2927px;
    right: 294px;
}
.show7{
  border:2px  black;
  background-color: transparent;
  color:rgb(6, 6, 109);
  font-weight: bold;
  margin-left: 357px;
  margin-top: 335px;
  padding: 5px;
  width: 5%;
  position: relative;
  top: -3297px;
  right: 257px;
}
.hide{
  border:2px  black;
  background-color: transparent;
  color:rgba(255, 0, 0, 0.707);
  font-weight: bold;
  padding: 5px;
  width: 5%;  
  margin-left: -30px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}
#cont1{
  position: relative;
  top: -3098px;
  right: 53px;
  display: inline-block;
}
.photo {
  width: 329px;
  margin-left: 77px;
  margin-top: 24px;
}
.box{
  width: 418px;
  height: 382px;
  display: flex;
  margin-right:-15px ;
  margin-left: -2px;
  flex-wrap: wrap;
  margin-top: 10px;
  background-repeat: no-repeat;
  text-align: center;
}
.model { 
  background-color: #5d7a94; 
  color: #fff; 
  width: fit-content; 
  font-size: 20px; 
  padding-top: 20px; 
  padding-bottom: 10px; 
  padding-left: 40px; 
  padding-right: 50px; 
  margin-top: 50px; 
  margin-left: 1px; 
}